{% extends 'regFlask/base.html' %}

{% block body %}

    <div class="card-body">
        <h1 class="title" style="color: darkred">Your link was deactivated!</h1>
        <h1 class="title" style="color: #aaaaaa">Return to the bot and activate your link again</h1>

        <p><a href="https://t.me/{{ bot }}" class="btn btn--pill btn--blue" style="text-decoration: none">Open Telegram <i class="fa fa-telegram"></i></a></p>
    </div>
{% endblock %}
